body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
.fa-bars{
    display: none;
}
.mediainter{
    display: none;
}
button:hover{

    background: #F9C600;
}
.colornav{
    color: #0B2330;
}
a{
    color: black;
   text-decoration: none;
}
.fontnav{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}
.margleft{
    margin-left: 40px;
}
.mainlogo{
    margin-left: 2.2%;
}
.header__nav{
    display: flex;
    align-items: center;
    margin-top: 15px;

}
.why{
    margin-left: 170px;
    margin-right: 48px;
}
.sign{
    margin-left: 177px;
    margin-right: 24px;
}
.talk{
    margin-right: 24px;
}
.start{
    color: white;
    background: #0B2330;
    height: 54px;
    width: 163px;
    border-radius: 4px;
    text-align: center;


}
.header__main{
    display: flex;
}
.header__main_left{
    padding-left: 10.2%;
    margin-top: 154px;
}
h1{
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.6000000238418579px;
    text-align: left;
    width: 60%;
    color: #0B2330;


}
.headertext{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #375361;
    width:61% ;
}
.startyellow{
    height: 54px;
    width: 20%;
    border-radius: 4px;
    border: 1px solid #0B2330;
    box-sizing: border-box;


}
.talkto{
    height: 54px;
    width: 20%;
    margin-left: 15px;
    border-radius: 4px;
    border: 1px solid #0B2330;
    box-sizing: border-box;


}
.yellow{
    width: 600px;
    height: 886px;
    margin-top: 15px;
}
.threepics{
    position: absolute;
    top: 285px;
    right: 7%;
}
.header__main_trust{
    margin-top: 189px;
    margin-left: 12%;
}
.trust{
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.41999998688697815px;
    text-align: center;
    height: 96px;
    width: 48%;
    left: 85px;
    top: -3px;
    color: #0B2330;
    margin-left: 20%;


}
.company{
    display: flex;
    flex-wrap: wrap;
    column-gap: 82px;
    row-gap: 16px;
}
.mid_green{
    width: 95%;
    height: 490px;
    background: #51CEBC;
    border-radius: 10px;
    margin-left: 2.3%;
    margin-top: 192px;
    display: flex;
}
.green_img{
    width: 47%;
    margin-top: 56px;
}
.green_text{
    margin-top: 114px;
}
.green_h{
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.3400000035762787px;
    text-align: left;
    width: 78%;

}
.green_p{
    width: 78%;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 35px;
}
.possible{
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.3400000035762787px;
    text-align: center;
    width: 50%;
    margin-left: 25.34%;
    margin-top: 191px;

}
.interface{
    margin-top: 57px;
    width: 63.26%;
    margin-left: 18.4%;
}
.mid_white{
    display: flex;
    flex-direction: column;
}
.mid_whitebtn{
    margin-top: 57px;
    border: 1px solid #0B2330;
    height: 54px;
    width: 11.3%;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left:46.3% ;

}
.mid_purple{
    width: 87.5%;
    margin-top: 160px;
    height: 537px;
    background: #BD78F0;
    border-radius: 10px;
    margin-left: 10.27%;
    display: flex;
    position: relative;

}
.img_purple{
    width: 44.6%;
    position: absolute;
    left: -9%;
    top: 15%;
}
.purple_text{
width: 45%;
    margin-left: 46.2%;
    margin-top: 103px;
}
.h_purple{
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.41999998688697815px;
    text-align: left;
    color: #0B2330;

}
.p_purple{
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #0B2330;

}
.mid_solutions{
    margin-top: 136px;
    margin-left: 10.27%;
    width: 45%;
}
.solutions{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.399999976158142px;
    text-align: left;
    color: #6A7981;



}
.solutions_h{
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.41999998688697815px;
    text-align: left;
    color: #0B2330;


}
.solutions_p{
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
color: #375361;
}
.content_h{
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.3400000035762787px;
    text-align: left;
    color: #0B2330;

}
.content_p{
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #375361;

}
.content_width{
    width: 65%;
}
.main__content_left{
    margin-left: 10.27%;
    margin-top: 226px;
    display: flex;
    flex-direction: column;
    row-gap: 140px;
}
.main__content_left button{
    height: 54px;
    width: 30%;
    border-radius: 4px;
    border: 1px solid #0B2330;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0rem;

}
.microbtn button{
    height: 23px;
    width: auto;
    padding-right: 20px;
    display: flex;
    align-items: center;
    background: #E7EAEB;
    border-radius: 4px;
    border: none;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1.2000000476837158px;
    color: #61757E;


}

.microbtn{
    display: flex;
    column-gap: 1%;
    margin-top: -119px;
}
.microbtn button:hover{
    background: #FE9F28;
}
.main__content{
    display: flex;

}
.main__content_right{
    margin-top: 226px;
    display: flex;
    flex-direction: column;
    row-gap: 135px;

}
.video,.concepttesting,.contextual{
    display: flex;
    flex-direction: column;
    row-gap: 34px;
}
.main__content_left img{
    height: 40px;
    width: 40px;


}
.content__pink{
    width: 100%;
    height: 960px;
    background: #F2EDE7;
    padding-left: 8.47%;
    padding-top: 96px;
}
.content__pink p{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.399999976158142px;
    text-align: left;
    color: #375361;
}
.content__pink h2{
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.6000000238418579px;
    text-align: left;
    color: #0B2330;
    width: 80%;
}
.content__pink img{
    margin-top: 140px;
}
.pink__bot{
    display: flex;
    column-gap: 224px;

}
.pink__right{
    width: 90%;
    margin-top: 140px;

}
.accordion-body,.accordion-button,.accordion-item{
    background: #F2EDE7;
}
.accordion-item{
    border: none;
}
.accordion-button{
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #0B2330;
    border-bottom: solid #C3CACD 2px;
}
.integrations_left{
    margin-left: 10.2%;
    width: 48%;
    display: flex;
    flex-direction: column;
    row-gap: 37px;
}
.integrations_left p{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.399999976158142px;
    text-align: left;
    color: #375361;
}
.integrations_left h2{
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.3400000035762787px;
    text-align: left;
    color: #0B2330;

}
.integrations_left button{
    width: 30%;
    height: 54px;
    border: solid 1px black;
    border-radius: 4px;
    text-align: center;
}
.content__integrations{
    margin-top: 184px;
    display: flex;
    column-gap: 11%;
}
.case_study{
    width: 39%;
    margin-left: 2.2%;
    height: 584px;
    background: #F2EDE7;
    border-radius: 10px 0px 0px 10px;
    padding-left: 8%;
    padding-top: 80px;
    margin-top: 240px;
}
.case_study p{
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #375361;
    width: 75%;
    margin-top: 27px;
}
.case_study h2{
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #0B2330;
    width: 75%;
    margin-top: 17px;

}
.case_study button{
    width: 30%;
    height: 54px;
    border: solid 1px black;
    border-radius: 4px;
    text-align: center;
    margin-top: 36px;
}
.content__case{
    display: flex;

}
.quote{
    height: 584px;
    background: #F9C600;
    width: 56.6%;
    margin-top: 240px;
    border-radius: 0px 10px 10px 0px;
    position: relative;

}
.quote h3{
    position: absolute;
    top: 13%;
    left: 14%;
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.3400000035762787px;
    text-align: left;
    width: 70%;
    color: black;

}
.quote_bot{
    display: flex;
    align-items: center;
    column-gap: 3%;
    margin-top: 177px;
    margin-left: 14%;
}
.text_name{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #0B2330;
}
.text_position{
    color: #2F3F48;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}
.bottom{
    height: 1101px;
    width: 100%;
    background: #0B2330;
    margin-top: 46px;

}
.bottom__head{
    width: 95.5%;
    border-bottom: solid #375361 1px;
    text-align: center;
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2.3%;
}
.bottom__head h2{
    margin-top: 53px;
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.41999998688697815px;
    text-align: center;
    color: #FFFFFF;
}
.bottom__head p{
    margin-top: 31px;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    width: 45%;

}
.bottom__head button{
    margin-top: 36px;
    border: 1px solid #0B2330;
    height: 54px;
    background: #F9C600;
    width: 11.3%;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 95px;
}
.bottom__down{
    margin-left: 2.3%;
    margin-top: 79px;
    display: flex;
    align-items: start;
    column-gap: 7.9%;
}
.hiper{
    display: flex;
    flex-direction: column;
    row-gap: 13px;

}
.bottom__down a{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #94A0A4;
}
.bottom__down a:hover{
    color: #F9C600;
}
.bottom_logo{
    display: flex;
    margin-left: 19%;
    align-items: center;
    margin-top: 69px;
}
.bottom_logo p{
    font-family: Roboto;
    padding-top: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #94A0A4;
    margin-right: 42.6%;


}
.bottom_logo img{
    margin-left: 1.74%;
}